@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jonah Anurag Rachapudi<br />
    KSA<br />
    <abbr title="Phone">Phone:</abbr>
    +966-552812874
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jonahanurag@gmail.com">jonahanurag@gmail.com</a><br />    
</address>